* {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: url("../../images/galaxy.jpg") repeat;
  background-position: top center;
  background-size: cover;
  background-color: black;
}
